.data-panel {
    position: absolute;
    top: 2600px;
    left: 270px;
    border-radius: 4px;
    /* box-shadow: 15px 15px 30px rgba(0,0,0, .15); */
    /* color: #fff; */

    margin: 0 auto;
    width: 800px;
}

.data-panel .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.data-panel .pleasure {
    position: absolute;
    top: 2400px;
    left: 60px;
    border-radius: 4px;
    margin: 0 auto;
    width: 800px;

}